<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="pt-br">
<!--<![endif]-->
	<head>
		<title>C.O.B</title>

		<!-- meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<!-- google fonts -->
		<link rel="stylesheet" href="{{ url_for('static', filename='http://fonts.googleapis.com/css?family=PT+Sans')  }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold')  }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='http://fonts.googleapis.com/css?family=Alegreya+Sans:regular,italic,bold,bolditalic')  }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='http://fonts.googleapis.com/css?family=Nixie+One:regular,italic,bold,bolditalic')  }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='http://fonts.googleapis.com/css?family=Alegreya+SC:regular,italic,bold,bolditalic')  }}">

		<!-- css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')  }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='/css/font-awesome.min.css')  }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')  }}">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.js"></script>
		<![endif]-->

		<!--[if IE 8]>
	    	<script src="assets/js/selectivizr.js"></script>
	    <![endif]-->
	</head>
	
	<body>
		<div id="drawer-right">
			<div class="cross text-right">
				<a class="toggleDrawer" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
			</div>
			<h2>Navegação</h2>
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#wrapper"><i class="fa fa-home"></i> Inicio</a>
					</li>
					<li>
						<a href="#portfolio"><i class="fa fa-bookmark"></i> Produtos</a>
					</li>
					<li>
						<a href="#services"><i class="fa fa-tasks"></i> Services</a>
					</li>
					<li>
						<a href="#blog"><i class="fa fa-wordpress"></i> Blog</a>
					</li>
					<li>
						<a href="#parallax"><i class="fa fa-heart"></i> Novos modelos</a>
					</li>
					<li>
						<a href="#testimonials"><i class="fa fa-thumbs-up"></i> Parceiros</a>
					</li>
					<li>
						<a href="#contact"><i class="fa fa-phone-square"></i> Contact</a>
					</li>
				</ul>
			</nav>
			<div class="social">
				<h2>Redes Sociais</h2>
				<ul>
					<li><a href=""><i class="fa fa-facebook-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-twitter-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-tumblr-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-google-plus-square fa-3x"></i></a></li>
				</ul>
			</div>
		</div><!-- #drawer-right -->

		<div id="wrapper">
			
			<div id="header" class="content-block header-wrapper">
				<div class="header-wrapper-inner">
					<section class="top clearfix">
						<div class="pull-left">
							<h1><a class="logo" href="index.html">Cursos </a></h1>
						</div>
						<div class="pull-right">
							<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
						</div>
					</section>
					<section class="center">
						<div class="slogan">
							cursos  online
						</div>
						<div class="secondary-slogan">
							Alcançar seus objetivos profissionais!
						</div>
					</section>
					<section class="bottom">
						<a id="scrollToContent" href="#">
							<img src="{{ url_for( 'static',filename='images/arrow_down.png' )}}" >		
						</a>
					</section>
				</div>
			</div>
			<!-- header -->

			<div class="content-block" id="portfolio">
				<div class="container">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg pull-right">ver Inicio</a>
						<h1>Os melhores do momento</h1>
						<p>Aprenda com os melhores especialistas no conforto de sua casa com nossos cursos online</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4">
								<a href="https://go.hotmart.com/G78869931P" target="_blank" class="recent-work" style="background-image:url({{ url_for('static', filename='images/desiginer.jpeg')}})">
									<!-- <span class="btn btn-o-white">Visualizar</span> -->
								</a>
								<h4>Elevar sua carreira como designer de sobrancelhas com nosso curso online. Aprenda as técnicas de design de sobrancelhas mais atuais, incluindo técnicas de desenho, coloração e modelagem. Nossos professores experientes lhe ensinarão técnicas precisas para criar sobrancelhas perfeitas e personalizadas para cada cliente. Além disso, você também aprenderá sobre cuidados com a pele, desenho de linhas de sobrancelhas e tendências atuais no mercado.</h4> <br>
							</div>
							<div class="col-sm-4">
								<a href="https://go.hotmart.com/O78739407O?ap=847a" target="_blank" class="recent-work" style="background-image:url({{ url_for('static', filename='images/unhas.jpeg')}})">
									<!-- <span class="btn btn-o-white">Visualizar</span> -->
								</a>
								<h4> Seja a próxima estrela do design de unhas com nosso curso online completo. Aprenda técnicas avançadas de desenho, coloração e modelagem de unhas. Nosso curso inclui treinamento em sanitização e segurança, bem como atendimento ao cliente e gerenciamento de negócios. Com nossa formação, você estará pronto para trabalhar em salões de beleza e spa, ou até mesmo abrir o seu próprio negócio. Não perca mais tempo e comece sua jornada para se tornar um especialista em design de unhas hoje </h4> <br>
							</div>
							<div class="col-sm-4">
								<a href="https://go.hotmart.com/O78739407O?ap=847a" target="_blank" class="recent-work" style="background-image:url({{ url_for('static', filename='images/unhas.jpeg')}})">
									<!-- <span class="btn btn-o-white">Visualizar</span> -->
								</a>
								<h4> Seja a próxima estrela do design de unhas com nosso curso online completo. Aprenda técnicas avançadas de desenho, coloração e modelagem de unhas. Nosso curso inclui treinamento em sanitização e segurança, bem como atendimento ao cliente e gerenciamento de negócios. Com nossa formação, você estará pronto para trabalhar em salões de beleza e spa, ou até mesmo abrir o seu próprio negócio. Não perca mais tempo e comece sua jornada para se tornar um especialista em design de unhas hoje </h4> <br>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<a href="https://go.hotmart.com/O78739407O?ap=847a" target="_blank" class="recent-work" style="background-image:url({{ url_for('static', filename='images/unhas.jpeg')}})">
									<!-- <span class="btn btn-o-white">Visualizar</span> -->
								</a>
								<h4> Seja a próxima estrela do design de unhas com nosso curso online completo. Aprenda técnicas avançadas de desenho, coloração e modelagem de unhas. Nosso curso inclui treinamento em sanitização e segurança, bem como atendimento ao cliente e gerenciamento de negócios. Com nossa formação, você estará pronto para trabalhar em salões de beleza e spa, ou até mesmo abrir o seu próprio negócio. Não perca mais tempo e comece sua jornada para se tornar um especialista em design de unhas hoje </h4> <br>
							</div>
							<div class="col-sm-4">
								<a href="https://go.hotmart.com/O78739407O?ap=847a" target="_blank" class="recent-work" style="background-image:url({{ url_for('static', filename='images/unhas.jpeg')}})">
									<!-- <span class="btn btn-o-white">Visualizar</span> -->
								</a>
								<h4> Seja a próxima estrela do design de unhas com nosso curso online completo. Aprenda técnicas avançadas de desenho, coloração e modelagem de unhas. Nosso curso inclui treinamento em sanitização e segurança, bem como atendimento ao cliente e gerenciamento de negócios. Com nossa formação, você estará pronto para trabalhar em salões de beleza e spa, ou até mesmo abrir o seu próprio negócio. Não perca mais tempo e comece sua jornada para se tornar um especialista em design de unhas hoje </h4> <br>
							</div>
							<div class="col-sm-4">
								<a href="https://go.hotmart.com/O78739407O?ap=847a" target="_blank" class="recent-work" style="background-image:url({{ url_for('static', filename='images/unhas.jpeg')}})">
									<!-- <span class="btn btn-o-white">Visualizar</span> -->
								</a>
								<h4> Seja a próxima estrela do design de unhas com nosso curso online completo. Aprenda técnicas avançadas de desenho, coloração e modelagem de unhas. Nosso curso inclui treinamento em sanitização e segurança, bem como atendimento ao cliente e gerenciamento de negócios. Com nossa formação, você estará pronto para trabalhar em salões de beleza e spa, ou até mesmo abrir o seu próprio negócio. Não perca mais tempo e comece sua jornada para se tornar um especialista em design de unhas hoje </h4> <br>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #portfolio -->

			<div class="content-block parallax" id="services">
				<div class="container text-center">
					<header class="block-heading cleafix">
						<h1>Transforme sua carreira </h1>
						<p>Não perca mais tempo e comece sua jornada de aprendizado hoje.</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="service">
									<i class="fa fa-send-o"></i>
									<h2>Encontre os melhores</h2>
									<p>Oferecemos uma variedade de cursos online de alta qualidade para aprimorar suas habilidades e se destacar no mercado.Os cursos online oferecem muitas vantagens para aqueles que buscam desenvolver suas habilidades e alcançar seus objetivos de carreira </p>
								</div>
							</div>

							<div class="col-md-4">
								<div class="service">
									<i class="fa fa-bar-chart" aria-hidden="true"></i>
									<h2>Suba para o proximo nivel</h2>
									<p>A flexibilidade é uma das principais vantagens dos cursos online. Você pode acessar o material de estudo e assistir às aulas quando e onde quiser, o que permite que você equilibre seus estudos com outras responsabilidades, como trabalho e família.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<i class="fa fa-heart-o"></i>
									<h2>Feito com amor</h2>
									<p>Não importa se você é iniciante ou tem experiência em sua área escolhida, nossos cursos são projetados para atender às suas necessidades. Nossos instrutores são especialistas em suas áreas e estão sempre disponíveis para ajudá-lo a alcançar seus objetivo.</p>
								</div>
							</div>
							
						</div>
					</section>
				</div>
			</div><!-- #services -->

			<div class="content-block" id="blog">
				<div class="container">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg pull-right">View All</a>
						<h1>Cursos em alta</h1>
						<p>Esses são os cursos que mas estao sendo prucurados .</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4 blog-post">
								<img src="assets/images/bike_water1-1000x600.jpg">
								<a href="#"><h2>Design de sonbracelha</h2></a>
								<div class="date">10 Jan, 2023</div>
								<p>Se você deseja se especializar em design de sobrancelhas, o nosso curso é a escolha certa para você. Nós oferecemos uma formação completa em design de sobrancelhas, incluindo técnicas avançadas de desenho, coloração e modelagem.</p>
								<a href="">Read More</a>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/mac_glasses1-1000x600.jpg">
								<a href="#"><h2>Winter Is Comming</h2></a>
								<div class="date">3 Nov, 2014</div>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/road-1000x600.jpg">
								<a href="#"><h2>The Illustration</h2></a>
								<div class="date">3 Nov, 2014</div>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
						</div>
					</section>
				</div>

			</div><!-- #blog -->
			<div class="content-block parallax" id="parallax">
				<div class="container text-center">
					<h1>Se você está procurando por uma forma de aprimorar suas habilidades e alcançar seus objetivos profissionais, os nossos cursos online são a escolha perfeita para você. Nós oferecemos uma ampla variedade de cursos em vários nichos, desde desenvolvimento de carreira até habilidades técnicas.</h1>
					<a href="#portfolio" class="btn btn-o-white btn-lg">Cursos</a>
				</div>
			</div><!-- #parallax -->

			<div class="content-block" id="testimonials">
				<div class="container">
					<header class="block-heading cleafix">
						<h1>Testimonials</h1>
						<p>Some happy customers have to say.</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="testimonial">
									<img src="assets/images/testimonial_31-190x190.jpg">
									<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
									<strong>Jhon Doe</strong><br/>
									<span>Head of Ideas, Technext</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<img src="assets/images/testimonial_11-190x190.jpg">
									<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
									<strong>Jane Doe</strong><br/>
									<span>CEO, Apple Inc</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<img src="assets/images/testimonial_22-190x190.jpg">
									<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
									<strong>Albert Doe</strong><br/>
									<span>Team Lead, Design Studio</span>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div><!-- /#testimonials -->

			<div class="content-block" id="contact">
				<div class="container text-center">
					<header class="block-heading cleafix">
						<h1>Contact Us</h1>
						<p>Feel free to drop us a line.</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<form class="" role="form">
									<div class="form-group">
								    	<input type="email" class="form-control form-control-white" id="subject" placeholder="Your Name" required>
								  	</div>
								    <div class="form-group">
								    	<input type="email" class="form-control form-control-white" id="exampleInputEmail2" placeholder="Enter email" required>
								    </div>
								    <div class="form-group">
								    	<textarea class="form-control form-control-white" placeholder="Write Something" required></textarea>
								    </div>
								  <input type="submit" class="btn btn-o-white" value="Say Hello">
								</form>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #contact -->

			<div class="content-block" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-6">&copy; victor 2023</div>
						<div class="col-xs-6 text-right">Cursos <a href="/" target="_blank">ThemeWagon</a></div>
					</div>
				</div>
			</div><!-- #footer -->

		</div><!--/#wrapper-->

		<script src="static/js/jquery-2.1.3.min.js"></script>
		<script src="static/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script src="static/js/jquery.actual.min.js"></script>
		<script src="static/js/jquery.scrollTo.min.js"></script>
		<script src="static/js/script.js"></script>

	</body>
</html>
